.discipline {
  width: 100%;
  height: 200px;
  background: var(--unnamed-color-924781) 0% 0% no-repeat padding-box;
  background: #924781 0% 0% no-repeat padding-box;
  border-radius: 25px;
  opacity: 1;
  display: grid;
  place-content: center;
}

.discipline .discipline-head,
.discipline .subjects {
  /*width: 162px;*/
  // height: 152px;
  // padding: 6px;
  border-radius: 25px;
  margin: 10px;
}
.discipline .subjects .subject-name {
  padding-top: 30px;
}
