.transaction__history {
  &__wrapper {
    top: 196px;
    left: 208px;
    height: 482px;
    background: #f7f7f7 0% 0% no-repeat padding-box;
    border-radius: 15px;
    opacity: 1;
    opacity: 1;
    padding: 15px 25px;
  }
}
