.slick-arrow {
  color: black;
}

.slick-prev {
  z-index: 100;
  left: 20px !important;
}
.slick-next {
  z-index: 100;
  right: 20px !important;
}

.slick-prev:before {
  color: #000;
}
.slick-next:before {
  color: #000;
}
